<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light static-top sb-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/index"><img src="assets/img/Key-Systems-Mini-Logo.png" width="30"> Temas KS</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/list" title="Lista">Lista de temas</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" href="#" title="Contacto">Contacto</a>
        </li>-->
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div id="custom-search-input">
              <div class="input-group col-md-12">
                  <input type="text" class="form-control input-lg" [(ngModel)]="name" placeholder="Buscar">
                  <span class="input-group-btn">
                      <a class="btn btn-info btn-lg" (click)="onSearch(name)" [routerLink]="['/search', name]">
                          <i class="fa fa-search"></i>
                      </a>
                  </span>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


