<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>

<header class="page-heading">
  <div class="container"> 
    <h1>{{title.rendered}}</h1>
    <div [innerHTML]="acf.resumen" class="text-2-line"></div>
    <div id="carbonads">
      <span>
        <span class="carbon-wrap">
          <a href="http://espublicidadcreativa.com/" class="carbon-img" target="_blank" rel="noopener">
            <img src="assets/img/pc.png" alt="" border="0" height="100" width="130" style="max-width: 130px;">
          </a>
          <a class="carbon-text" target="_blank" rel="noopener">
            No sabes como ganar dinero con tus redes sociales, entra aqui y descrubrelo!
          </a>
        </span>
        <a href="http://espublicidadcreativa.com/" class="carbon-poweredby" target="_blank">Publicidad Creativa</a>
      </span>
    </div>
  </div>
</header>

<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/index">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/list">Temas</a>
    </li>
    <li class="breadcrumb-item active">{{title.rendered}}</li>
  </ol>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="card sb-card">
        <a class="sb-img">
          <img class="card-img-top" src="{{acf.portada}}" alt="Free Bootstrap Creative Theme - Start Bootstrap">
        </a>
        <div class="card-body download-links">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
              <a href="{{acf.url}}" class="btn btn-secondary" target="_blank">
                <i class="fa fa-eye"></i> Demo
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{acf.url_descarga}}" class="btn btn-secondary" target="_blank">
                <i class="fa fa-download"></i> Descarga
              </a>
            </li>
            <li class="list-inline-item">
              <a (click)="onClick()" class="btn btn-secondary">
                <i class="fa fa-users"></i> Auto Administrable
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="card sb-card download-links">
        <div class="card-body">
          <h4>Tecnología</h4>
          <ul class="list-inline">
            <li class="list-inline-item" *ngFor="let technology of acf.categoria">
              <a class="btn btn-secondary"><i class="fa fa-github"></i> {{technology.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card sb-card">
        <div class="card-body">
          <h3>¿Necesitas ayuda?</h3>
          <p>Ponte en <strong><a (click)="onClick()">contacto</a></strong> con nosotros y aclara tus dudas.</p>
        </div>
      </div>
      <div class="card sb-card">
        <div class="card-body">
          <h3>Descripción:</h3>
          <div [innerHTML]="acf.detalles"></div>  
        </div>
      </div>
      <div class="card sb-card">
        <div class="card-body">
          <h3>Característica:</h3>
          <ul>
            <li *ngFor="let caract of acf.caracteristicas">{{caract.texto}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>