/* You can add global styles to this file, and also import other style files */
p {
    margin-bottom: 0px!important;
}
.modal-header .close {
    margin-left: 0px!important;
}
.modal-title {
    font-size: 18px;
    margin-left: 20px;
}
.modal-header {
    justify-content: left!important;
}
.modal-footer {
    display: none!important;
}
.backdrop[_ngcontent-c2] {
    position: fixed!important;
}
#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}
#custom-search-input input {
    border: 0;
    box-shadow: none;
}
#custom-search-input a {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0px 0px 0 20px;
    border-left: solid 1px #ccc;
}
#custom-search-input .glyphicon-search {
    font-size: 23px;
}