/* You can add global styles to this file, and also import other style files */
p {
    margin-bottom: 0px!important;
}
.modal-header .close {
    margin-left: 0px!important;
}
.modal-title {
    font-size: 18px;
    margin-left: 20px;
}
.modal-header {
    justify-content: left!important;
}
.modal-footer {
    display: none!important;
    }